.footer {
  padding-top: 1rem;
  background-color: $footer;
}

.contact-box__icon {
  width: 4rem;
  stroke: $primary;
  padding-top: 0.5rem;
}

.contact-box__info {
  padding: 0.4rem;
  font-weight: 600;
}

.contact-box__info--title {
  color: $white;
  text-decoration: none;
  font-size: 1.4rem;
}

.contact-box__info--subtitle {
  color: $gray-600;
  font-size: 1rem;
}

.company-list {
  display: block;
  list-style-type: none;
  position: relative;

  li {
    margin-bottom: 0.5rem;
    text-decoration: none;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

.footer-bottom {
  background-color: $black;
}

@include media-breakpoint-down(sm) {
  .contact-box__icon {
    width: 2rem;
  }
  .contact-box__info--title {
    font-size: 1rem;
  }
  .contact-box__info--subtitle {
    font-size: 0.8rem;
  }
}
