.intro-section {
  @include gradient;
  padding: 10rem 0 0 0;

  width: 100%;
  height: 100%;
}

.video-box {
  position: relative;

  a {
    // có thể dùng class BS thì khỏi mixin
    // Chú ý mixin trong clip là util riêng của BS
    // @include absoluteCenter;
  }

  span {
  }

  i {
    font-size: 6rem;
    color: $secondary;
  }
}
