.footer-copyright {
  color: $gray-600;
  font-weight: 400;

  a {
    color: $gray-300;
    text-decoration: none;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}
