$breakpoints: (
  min-sm: 576px,
  max-sm: 575.98px,
  min-md: 768px,
  max-md: 767.98px,
  min-lg: 992px,
  max-lg: 991.98px,
  min-xl: 1200px,
  max-xl: 1199.98px,
  min-xxl: 1400px,
  max-xxl: 1399.98px,
);
